<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b264a1">  <td>18/02/17 23:38:06</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;VerifyProdcut_Added_in_Basket.afterTest()[pri:0, instance:buyaGift_Automation_Test.VerifyProdcut_Added_in_Basket@3d680b5a]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@116237769</td>   <td></td> </tr>
<tr bgcolor="b264a1">  <td>18/02/17 23:36:52</td>   <td>-74136</td> <td>&nbsp;</td><td title="&gt;&gt;VerifyProdcut_Added_in_Basket.beforeTest()[pri:0, instance:buyaGift_Automation_Test.VerifyProdcut_Added_in_Basket@3d680b5a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@116237769</td>   <td></td> </tr>
<tr bgcolor="b264a1">  <td>18/02/17 23:37:00</td>   <td>-66137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyProdcut_Added_in_Basket.testEasy()[pri:0, instance:buyaGift_Automation_Test.VerifyProdcut_Added_in_Basket@3d680b5a]">testEasy</td> 
  <td>main@116237769</td>   <td></td> </tr>
</table>
